.app {
    width:100%
}

.title {
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
    margin: 1em 0em;
}

.form {
    width: 18em;
    display: flex;
    flex-direction: column;
}

.input {
    padding: 0.5em;
    border-radius: 10px;
    border: 0px;
    width: 100%;
    margin-bottom: 1em ;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.356);
}

.button {
    padding: 0.5em;
    border-radius: 10px;
    border: 0px;
    color: aliceblue;
    background-color: rgb(32, 30, 30);
    border: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
    transition-duration: 0.3s;
    height: 3em;
    margin-bottom: 1em;
}

.button:hover {
    background-color: black;
}

.infoCep {
    background-color: #fff;
    margin-top: 2em;
    border-radius: 10px;
    padding: 1em;
    
}
